#Unity Version 3.5.x Ignores

# ignore everything
/*

# don't ignore the ignore file
!.gitignore

# we only need two folders form unity Asssets and ProjectSettings
!/Assets/
!/ProjectSettings/

# we do need the .asset and .prefs files in Library
!/Library/*.asset
!/Library/*.prefs

# apple stuff
# .DS_Store.meta should not exist, but every now and then it happens
.DS_Store
.DS_Store.meta

# windows stuff
# Thumbs.db.meta should not exist, but every now and then it happens
Thumbs.db
Thumbs.db.meta
